<div class="aside-category-container">
  <ul>
    <li routerLink="/desktops" class="cat__list__desktops">
      <span class="icon-desktop"></span>Desktops
    </li>
    <li routerLink="/laptops" class="cat__list__laptops">
      <span class="icon-laptop"></span>Laptops
    </li>
    <li routerLink="/cameras" class="cat__list__cameras">
      <span class="icon-camera"></span>Cameras
    </li>
    <li routerLink="/phones" class="cat__list__phones">
      <span class="icon-phone"></span>Phones
    </li>
    <li routerLink="/scanners" class="cat__list__scanners">
      <span class="icon-scanner"></span>Scanners
    </li>
    <li routerLink="/watches" class="cat__list__watches">
      <span class="icon-watch"></span>Watches
    </li>
    <li routerLink="/peripherals" class="cat__list__peripherals">
      <span class="icon-mouse"></span>Peripherals
    </li>
  </ul>
</div>
