<div class="aside-category-container">
  <ul>
      <li class="cat__list__desktops"><span class="icon-desktop"></span>Desktops</li>
      <li class="cat__list__laptops"><span class="icon-laptop"></span>Laptops</li>
      <li class="cat__list__cameras"><span class="icon-camera"></span>Cameras</li>
      <li class="cat__list__phones"><span class="icon-phone"></span>Phones</li>
      <li class="cat__list__scanners"><span class="icon-scanner"></span>Scanners</li>
      <li class="cat__list__watches"><span class="icon-watch"></span>Watches</li>
      <li class="cat__list__peripherals"><span class="icon-mouse"></span>Peripherals</li>
  </ul>

</div>
