<div class="wishlist-container">
  <div *ngIf="wishlist; else emptyList">
    <div
      class="wishlist-wrrapper"
      *ngFor="
        let product of wishlist | paginate: { itemsPerPage: 2, currentPage: p }
      "
    >
      <app-wishlist-product [wishlistProduct]="product"></app-wishlist-product>
    </div>
  </div>
  <pagination-controls
    *ngIf="wishlist"
    class="my-pagination"
    [responsive]="true"
    (pageChange)="p = $event"
  ></pagination-controls>
  <ng-template #emptyList>
    <h1>No products in wishlist!</h1>
  </ng-template>
</div>
<app-footer></app-footer>
