<div class="info-card-container">
  <div class="info-card-wrrapper">
    <div class="info-card">
      <div class="info-card-icon-wrrapper"><span class="icon-smile"></span></div>
      <div class="info-card-details-wrrapper">
          <p class="info__card__text info__card__heading">100% satisfaction</p>
          <p class="info__card__text">guaranteed</p>
      </div>
    </div>
    <div class="info-card">
      <div class="info-card-icon-wrrapper"><span class="icon-like"></span></div>
      <div class="info-card-details-wrrapper">
        <p class="info__card__text info__card__heading">save 20% when</p>
        <p class="info__card__text">use credit card</p>
      </div>
    </div>
    <div class="info-card">
      <div class="info-card-icon-wrrapper"><span class="icon-plane"></span></div>
      <div class="info-card-details-wrrapper">
        <p class="info__card__text info__card__heading">fast free shipment</p>
        <p class="info__card__text">convenient delivery choices</p>
      </div>
    </div>
  </div>
</div>
