<div class="add-review-container">
  <form [formGroup] = "addReviewGroup" (ngSubmit) = "addReview(addReviewGroup)">
    <label for="name">Your Name:</label>
    <input formControlName="name" class="input__review" type="text" name="name">
    <label for="review">Review:</label>
    <input formControlName="review" class="input__review" type="text" name="review">
    <div class="radio-group">
        <p>bad</p>
        <input formControlName="rating" class="radio__btn" type="radio" name="rating" value="1">
        <input formControlName="rating" class="radio__btn" type="radio" name="rating" value="2">
        <input formControlName="rating" class="radio__btn" type="radio" name="rating" value="3">
        <input formControlName="rating" class="radio__btn" type="radio" name="rating" value="4">
        <input formControlName="rating" class="radio__btn" type="radio" name="rating" value="5">
        <p>good</p>
    </div>
    <button class="send__review__btn" type="submit">send</button>
  </form>
</div>
