.footer-container{
  position: relative;
  width: 100%;
  height:500px;
  display: flex;
  flex-direction: column;

}

.footer-sub-heading-wrrapper{
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.footer-subscribe-container{
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100px;
  background-color: var(--light-black);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.subscribe__form{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
}

.sub__heading{
  font-family: "Popins";
  color: white;
  font-size: 1.4rem;
  margin-left: 10px;
}

.sub__input{
  position: relative;
  width: 100%;
  height:40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-sizing: border-box;
  border-right: none;
  border: 2px solid white;
  outline: none;

}


.sub__btn{
  position: relative;
  width: 100px;
  height: 40px;
  background-color: var(--main-orange);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  font-family: "Popins";
  font-size: 1rem;
  box-sizing: border-box;
  border: 2px solid var(--main-orange);
  cursor: pointer;

}

::placeholder{
  font-family: "Popins";
  font-size: 0.7rem;
  padding-left: 10px;
}

.icon-letter{
  position: relative;
  display: block;
  background: url("~assets/icons/footer/letter.svg");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}

.footer-info-container{
  position: relative;
  top: 100px;
  width: 100%;
  height: 300px;
  background-color: var(--dark-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-item{
  position: relative;
  width: 23%;
  height:200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.heading-info-wrrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.info__heading{
  font-family: "Popins";
  font-size: 0.9rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

ul{
  padding: 0;
}

ul li{
  list-style: none;
  font-family: "Popins";
  font-size: 0.8rem;
  color: grey;
  padding: 0.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

ul li:hover{
  color: var(--main-orange);
}

ul li:hover .icon-right-arrow::before{
  position: absolute;
  width: 15px;
  height: 15px;
  content: url("~assets/icons/footer/right-arrow-orange.svg");
}

.icon-right-arrow{
  position: relative;
  width: 15px;
  height: 15px;
  background: url("~assets/icons/footer/right-arrow.svg");
  background-repeat: no-repeat;
  display: block;
}

.icon-arrow-down{
  position: relative;
  width: 15px;
  height: 15px;
  background: url("~assets/icons/footer/arrow-down.svg");
  background-repeat: no-repeat;
  display: block;
  cursor: pointer;
}

.footer-bottom-info{
  position: relative;
  width: 100%;
  height: 100px;
  border-top: 1px solid white;
  background-color:var(--dark-grey);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  margin-top: 100px;
}

.bottom-info-item{
  position: relative;
  width:25%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h6{
  font-family: "Popins";
  font-size: 1.5rem;
  color: white;
}

h6::first-letter{
  color: var(--main-orange);
  font-style: italic;
}

.footer__copyright{
  font-family: "Popins";
  color:grey;
  font-size: 0.7rem;
}

.show--arrow{
  display: none;
}

.info{
  display: block;
}

.blog-wrrapper{
  position: relative;
  width: 100px;
  height: 100px;
}

.blog-wrrapper img{
  position: absolute;
  width: 100%;
  height: 100%;
}

.swiper-container{
  width: 150px;
  height: 170px;
  border-radius: 5px;
  cursor: pointer;
}

.blog-item{
  position: relative;
  width: 200px;
  height: 220px !important;
}

@media only screen and (max-width:800px){
  .footer-info-container{
    top: 150px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    flex: 1;
  }

  .info-item{
    width: 70%;
    height: auto;
    align-items: flex-start;
    padding-left: 50px;
  }

  .heading-info-wrrapper{
    justify-content: space-between;
  }

  .footer-subscribe-container{
    height:150px;
    flex-direction: column;
    align-items: flex-start;
  }

  /*KLASA ZA TOGGLE FOOTER ITEM IZMENI*/

  .info{
    display: none;
  }

  .footer-sub-heading-wrrapper{
    width: 100%;
    padding-left: 20px;
  }

  .subscribe__form{
    width: 100%;
    justify-content: flex-start;
  }

  .sub__heading{
    margin-left: 20px;
  }

  .sub__input{
    width:60%;
    margin-left: 20px;
  }

  .footer-bottom-info{
    margin-top:150px;
  }

  .show--arrow{
    display: block;
  }
}

@media only screen and (max-width:400px){
  .footer-bottom-info{
    flex-direction: column;
    height:200px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  h6{
    margin: 0;
  }

  .bottom-info-item{
    width: 100%;
  }

}


@media only screen and (max-width:340px){
  .subscribe__form{
    padding-bottom: 40px;
    justify-content: center;
  }

  .subscribe__form input{
    margin: 0;
  }
}

