<div class="footer-container">
  <div class="footer-subscribe-container">
    <div class="footer-sub-heading-wrrapper">
      <span class="icon-letter"></span>
      <h1 class="sub__heading">Subscribe to newsletter</h1>
    </div>
    <form [formGroup] = "subscribeForm" (ngSubmit) = "subscribe(subscribeForm)" class="subscribe__form">
      <input
        formControlName="Email"
        class="sub__input"
        type="text"
        name="Email"
        placeholder="Enter email here.."
      />
      <button class="sub__btn" type="submit">Subscribe</button>
    </form>
  </div>
  <div class="footer-info-container">
    <div class="info-item">
      <div class="heading-info-wrrapper">
        <p class="info__heading">Quick information</p>
        <span
          (click)="toggleFooterInfo(info1)"
          class="icon-arrow-down show--arrow"
        ></span>
      </div>
      <ul #info1 class="info">
        <li>Adress: TechStore,St.Peter.England</li>
        <li>Phone: +01 2222 365 /(+91) 01 2345 6789</li>
        <li>Mail: someemail@gmail.com</li>
      </ul>
    </div>
    <div class="info-item">
      <div class="heading-info-wrrapper">
        <p class="info__heading">About</p>
        <span
          (click)="toggleFooterInfo(info2)"
          class="icon-arrow-down show--arrow"
        ></span>
      </div>
      <ul #info2 class="info">
        <li><span class="icon-right-arrow"></span>About us</li>
        <li><span class="icon-right-arrow"></span>Delivery Information</li>
        <li><span class="icon-right-arrow"></span>Privacy Policy</li>
        <li><span class="icon-right-arrow"></span>Terms and conditions</li>
        <li><span class="icon-right-arrow"></span>Contact us</li>
      </ul>
    </div>
    <div class="info-item">
      <div class="heading-info-wrrapper">
        <p class="info__heading">Policy</p>
        <span
          (click)="toggleFooterInfo(info3)"
          class="icon-arrow-down show--arrow"
        ></span>
      </div>
      <ul #info3 class="info">
        <li><span class="icon-right-arrow"></span>Policy information</li>
      </ul>
    </div>
    <div class="info-item blog-item">
      <p class="info__heading">From the Blog</p>
      <div class="blog-wrrapper">
        <swiper [slidesPerView] = "1">
            <ng-template swiperSlide *ngFor="let b of blogs">
                <app-footer-blog [blog] = "b"></app-footer-blog>
            </ng-template>
        </swiper>

      </div>
    </div>
  </div>
  <div class="footer-bottom-info">
    <div class="bottom-info-item">
      <p class="footer__copyright">Copyright @DusanGojkovic 2021</p>
    </div>
    <div class="bottom-info-item"><h6>TechStore</h6></div>
    <div class="bottom-info-item">
      <img src="/assets/images/footer/paypal.png" alt="paypal.png" />
      <img src="/assets/images/footer/maestro.png" alt="maestro.png" />
      <img src="/assets/images/footer/visa.png" alt="visa.png" />
    </div>
  </div>
</div>


