<app-header-phone-number></app-header-phone-number>
<div class="header-container">
  <div class="main-logo-wrrapper">
    <h1>TechStore</h1>
    <div class="search-wrrapper">
      <select name="categoryList" id="categoryList">
        <option value="Desktop">Desktop</option>
      </select>
      <input
        class="main__search__input"
        type="text"
        name="search"
        placeholder="search for products.."
      />
      <button class="search__btn">Search</button>
    </div>
  </div>
  <div class="menu-navigation-container">
    <ul>
      <li>Home</li>
      <li class="divider"></li>
      <li>New Collection</li>
      <li class="divider"></li>
      <li>Specials</li>
      <li class="divider"></li>
      <li>Contact us</li>
      <li class="divider"></li>
      <li>Blogs</li>
    </ul>
  </div>
</div>
