<app-header-phone-number></app-header-phone-number>
<div class="header-container">
  <app-main-filter-search></app-main-filter-search>
  <div class="page-navigation-links-container">
    <app-page-navigation-links></app-page-navigation-links>
  </div>
  <div class="header-bottom-wrrapper">
    <app-dropdown-category-navigation></app-dropdown-category-navigation>
    <div class="my-cart-cs-support-wrrapper">
      <div class="cs-sup-wrrapper">
        <span class="icon-headphones"></span>
        <p class="cs__text">Customer Support 123456789</p>
      </div>
      <div class="my-cart-wrrapper">
        <app-my-cart></app-my-cart>
      </div>
    </div>
  </div>
</div>
