.header-container{
  position: relative;
  width: 100%;
  height:250px;
  background-color: var(--main--dark);
  top:0;
  left: 0;

}

.page-navigation-links-container{
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.header-bottom-wrrapper{
  position: absolute;
  width: 100%;
  height:60px;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

}

.icon-headphones{
  position: relative;
  width: 40px;
  height: 40px;
  background: url("https://dusangojkovic87.github.io/assets/icons/headphones.svg");
  z-index: 2;
  display: block;
  padding-right:20px;
  background-repeat: no-repeat;
}

.my-cart-cs-support-wrrapper{
  position: relative;
  width: 400px;
  height:60px;
  display: flex;
  align-items: center;
}

.cs-sup-wrrapper{
  position: relative;
  width:150px;
  height: 60px;
  display: flex;
  align-items: center;
}

.cs__text{
  color: white;
  font-family: "Popins";
  font-size: 0.7rem;
}

.my-cart-wrrapper{
  position: relative;
  width: 200px;
  height: 60px;
}



@media only screen and (max-width:840px){
  .icon-headphones{
    display: none;
  }

  .cs__text{
    display: none;
  }

.cs-sup-wrrapper{
  width: 70px;
  justify-content: flex-end;
}

  .my-cart-cs-support-wrrapper{
    width:400px;
    justify-content: flex-end;
  }

}

@media only screen and (max-width:540px){
  .my-cart-cs-support-wrrapper{
    width: 220px;
  }

}



