<div class="page-container">
  <div class="aside-page-container">
    <app-aside-category-nav></app-aside-category-nav>
  </div>
  <div class="main-page-inner-container">
    <div class="contact-container">
      <div class="contact-info-wrrapper">
        <h1>Information</h1>
        <ul>
          <li class="contact__info__heading">
            <span class="icon-location"></span>TechStore
          </li>
          <li>Adress: St Peters,11430</li>
          <li class="contact__info__heading">
            <span class="icon-telephone"></span>Telephone
          </li>
          <li>1234567</li>
          <li class="contact__info__heading">
            <span class="icon-fax"></span>Fax
          </li>
          <li>45678</li>
          <li class="contact__info__heading">
            <span class="icon-clock"></span>Opening Times
          </li>
          <li>08 AM to 21 PM</li>
        </ul>
      </div>
      <div class="map-location-wrrapper">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d1426.1548210533313!2d20.95590728747983!3d44.36523127255126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e2!4m3!3m2!1d44.3659124!2d20.956429399999998!4m3!3m2!1d44.3659113!2d20.9564292!5e0!3m2!1shr!2srs!4v1628781521584!5m2!1shr!2srs"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </div>
    <div class="message-container">
      <h6>Contact us</h6>
      <div class="message-form-wrrapper">
        <form>
          <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" name="Name" />
          </div>
          <div class="form-group">
            <label for="Name">Email</label>
            <input type="text" name="Email" />
          </div>
          <div class="form-group">
            <label for="Name">Message</label>
           <textarea name="Message" cols="30" rows="10"></textarea>
          </div>
          <button class="sub__msg__btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
