<div *ngIf="sideNavOpen" class="side-menu-container">
  <ul>
    <li
      routerLink="home"
      routerLinkActive="activeLink"
      (click)="closeSideNav()"
    >
      Home
    </li>
    <li
      routerLink="new-collection"
      routerLinkActive="activeLink"
      (click)="closeSideNav()"
    >
      New Collection
    </li>
    <li
      routerLink="specials"
      routerLinkActive="activeLink"
      (click)="closeSideNav()"
    >
      Specials
    </li>
    <li (click)="toggleCategories()">
      Categories
      <div class="caret-wrrapper">
        <span
          [ngClass]="categoriesOpen ? 'icon-caret-up' : 'icon-caret-down'"
        ></span>
      </div>
    </li>
    <div *ngIf="categoriesOpen" class="dropdown-container">
      <ul>
        <li
          routerLink="desktops"
          routerLinkActive="activeLink"
          (click)="closeSideNav()"
        >
          Desktops
        </li>
        <li
          routerLink="laptops"
          routerLinkActive="activeLink"
          (click)="closeSideNav()"
        >
          Laptops
        </li>
        <li
          routerLink="cameras"
          routerLinkActive="activeLink"
          (click)="closeSideNav()"
        >
          Cameras
        </li>
        <li
          routerLink="phones"
          routerLinkActive="activeLink"
          (click)="closeSideNav()"
        >
          Phones
        </li>
        <li
          routerLink="scanners"
          routerLinkActive="activeLink"
          (click)="closeSideNav()"
        >
          Scanners
        </li>
        <li
          routerLink="watches"
          routerLinkActive="activeLink"
          (click)="closeSideNav()"
        >
          Watches
        </li>
        <li
          routerLink="peripherals"
          routerLinkActive="activeLink"
          (click)="closeSideNav()"
        >
          Peripherals
        </li>
      </ul>
    </div>
    <li
      routerLink="contact"
      routerLinkActive="activeLink"
      (click)="closeSideNav()"
    >
      Contact us
    </li>
    <li
      routerLink="blog"
      routerLinkActive="activeLink"
      (click)="closeSideNav()"
    >
      Blogs
    </li>
  </ul>
</div>
