<div class="menu-navigation-container">
  <ul>
    <li routerLink="home" routerLinkActive="activeLink">Home</li>
    <li class="divider"></li>
    <li routerLink="new-collection" routerLinkActive="activeLink">
      New Collection
    </li>
    <li class="divider"></li>
    <li routerLink="specials" routerLinkActive="activeLink">Specials</li>
    <li class="divider"></li>
    <li routerLink="contact" routerLinkActive="activeLink">Contact us</li>
    <li class="divider"></li>
    <li routerLink="blog" routerLinkActive="activeLink">Blogs</li>
  </ul>
</div>
