<div class="product-container">
  <div class="product-img-wrrapper">
    <img
      src={{product?.img}}
      alt={{product?.img}}
    />
  </div>
  <div class="product-details-wrraper">
    <app-product-menu [product] = "product"></app-product-menu>
    <app-rating [rating] = "product?.rating"></app-rating>
    <div class="product-details-text-wrrapper">
      <p class="product__details__text product__heading">{{product?.productName}}</p>
      <p class="product__details__text">{{product?.price | currency : 'EUR'}}</p>
    </div>
  </div>
</div>

