<div class="page-container">
  <div class="aside-page-container">
    <app-aside-category-nav></app-aside-category-nav>
  </div>
  <div class="main-page-inner-container">
    <div class="blog-container">
      <div class="blog-wrrapper"
        *ngFor="
          let blog of blogs | paginate: { itemsPerPage: 2, currentPage: p }
        "
      >
        <app-blog-post [blog]="blog"></app-blog-post>
      </div>
    </div>
    <pagination-controls
      class="my-pagination"
      [responsive]="true"
      (pageChange)="p = $event"
    ></pagination-controls>
  </div>
</div>
<app-footer></app-footer>

