<div class="home-page">
  <div class="aside-home-page-container">
    <app-aside-category-nav></app-aside-category-nav>
    <app-aside-special-products></app-aside-special-products>
    <app-aside-banner></app-aside-banner>
    <h5 class="client__review__heading">Clients Say?</h5>
    <app-client-aside-review-list></app-client-aside-review-list>
  </div>
  <div class="main-home-page-container">
    <app-carousel-img-slider></app-carousel-img-slider>
    <app-info-card></app-info-card>
    <app-banner-list></app-banner-list>
    <app-featured-product-list></app-featured-product-list>
  </div>
</div>

