
app-featured-product-list{
  position: relative;
  margin-top: 40px;
}

@media only screen and (max-width:970px){
  .page-container{
    justify-content: center;
  }


  .aside-page-container{
    display: none;
  }
}
