.cart-container{
  position: relative;
  width: 100%;
  height: auto;
}
.cart-total-container{
  position: relative;
  width: 100%;
  height:70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


h1{
  font-family: "Popins";
  font-size: 1.2rem;
  text-align: center;
  color: var(--danger);
}

.checkout__btn{
  position: relative;
  width:200px;
  height: 30px;
  background-color: var(--light-green);
  border: none;
  color: white;
  font-family: "Popins";
  cursor: pointer;
  border-radius: 5px;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: var(--main-orange);
}

.my-pagination /deep/ .ngx-pagination li {
 font-family: "Popins";
 font-size: 1rem;
 font-weight: bold;
}

.cart__empty__text{
  text-align: center;
  color: var(--main--dark);
}

@media only screen and (max-width:970px){
  .page-container{
    justify-content: center;
  }


  .aside-page-container{
    display: none;
  }
}

@media only screen and (max-width:450px){
  .blog-container{
    height: auto;
  }

}

