<div class="header-phone-number-container">
  <p class="header__phone__number">
    Good luck with shopping. Call us free 24/7 : (555) 172-244-7888
  </p>
  <div class="account-wrrapper">
    <div class="account-item account-link" (click)="accountDropdown()">
      <span class="icon-account"></span>
      <p class="account__text padding-right-3px">My account</p>
      <ul
        [ngClass]="
          accountDropdownState
            ? 'account-dropdown-show'
            : 'account-dropdown-hide'
        "
      >
        <li>Login</li>
        <li>Register</li>
        <li>Checkout</li>
      </ul>
      <span
        [ngClass]="accountDropdownState ? 'icon-caret-up' : 'icon-caret-down'"
      ></span>
    </div>
    <div class="account-divider"></div>
    <div class="account-item wishlist-link">
      <span class="icon-wishlist"></span>
      <p class="account__text">wishlist</p>
    </div>
  </div>
</div>
