.category-navigation-container{
  position: relative;
  width: 250px;
  height:40px;
  background-color: var(--main-orange);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Popins";
  font-size: 1rem;
  cursor: pointer;
  padding:0.4rem;
  margin-left: 20px;
}

.icon-bars{
  position: relative;
  width: 20px;
  height: 20px;
  background: url("/assets/icons/bars.svg");
  margin-right: 4px;
  background-repeat: no-repeat;
}

.category__text{
  font-family: "Popins";
  font-size:0.9rem;
}

@media only screen and (max-width:768px){
  .category-navigation-container{
    width: 30px;
    height:30px;
    margin-bottom:8px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .category__text{
    display: none;
  }

}
