/* You can add global styles to this file, and also import other style files */
:root{
  --main-orange:#F2A413;
  --main--dark:#1D1D1D;
  --main-light-dark:#252525;
  --main-white:#FFFFFF;
  --light-grey:#807a7a;
}

html,body{
  margin: 0;
  padding: 0;
}

/*FONTS*/
@font-face {
  font-family: "Popins";
  src: url("assets/fonts/Poppins-Regular.ttf");
}

/*ANIMATIONS*/
@keyframes dropdownExpand {
  from{
    width: 0px;
    height: 0px;

  }

  to{
    width: 100px;
    height: 100px;
  }

}

@keyframes showSearch {
  from{
    width: 0px;
    height: 0px;
    opacity: 0;

  }

  to{
    width:200px;
    height:50px;
    opacity:1;
  }


}

@keyframes fadeIn {
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }

}

.divider{
  width: 1px;
  height: 20px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

