<div class="page-container">
  <div class="aside-page-container">
    <app-aside-category-nav></app-aside-category-nav>
  </div>
  <div class="main-page-inner-container">
    <div class="new-collection-container">
      <div
        class="new-collection-wrrapper"
        *ngFor="
          let product of newCollection
            | paginate: { itemsPerPage: 3, currentPage: p }
        "
      >
        <app-product [product]="product"></app-product>
      </div>
    </div>
    <pagination-controls
      class="my-pagination"
      [responsive]="true"
      (pageChange)="p = $event"
    ></pagination-controls>
  </div>
</div>
<app-footer></app-footer>
