.carousel__img{
  position: relative;
  width: 100%;
  height:100%;
  object-fit: contain;
  user-select: none;
  animation-name: fadeInScale;
  animation-duration: 2s;
  animation-delay:200ms ease-in;
}
